<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <% newListItems.forEach(function(item){ %>
      <!-- This will be responsible for deleting items -->
      <form action="/delete" method="post">
        <div class="item">
          <!-- Added onChange, so when click the checkbox it will submit it for delete -->
          <!-- value will give you the id of the item in mongo that we need to delete -->
          <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
          <p><%=item.name%></p>
        </div>
      </form>
    <%}) %>
    <!-- This will be responsible for adding items -->
    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value="<%= listTitle %>">+</button>
    </form>
  </div>

<%- include("footer") -%>
