<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>To Do List</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <!--
        # Retrieiving kindOfDay from app.js 
        <h1>It's a <%= kindOfDay %>!</h1>
        # Running code inside the html file 
        <% if (kindOfDay == "Saturday" || kindOfDay == "Sunday"){ %>
            <h1 style="color: purple"><%= kindOfDay %></h1>
        <%} else { %>
            <h1 style="color: blue"><%= kindOfDay %></h1>
        <% } %>
        -->
        <div class="box" id="heading">
            <!-- Better way then above showing the date with correct format -->
            <h1><%= kindOfDay %></h1>
        </div>
        <!-- Creating list for tod list-->
        <div class="box">
             <!-- This loops through array for new items and creates new list -->
             <% for (var i = 0; i < newListItems.length; i++){ %>
                <div class="item">
                    <input type="checkbox">
                    <p><%=newListItems[i] %></p>
                </div>
            <%} %>
            <!-- Create a form to add new item to do list -->
            <form class="item" action="/" method="post">
                <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                <button type="submit" name="button">+</button>
            </form>
        </div>
    </body>
</html>