<%- include("header") -%>
<div class="box" id="heading">
    <!-- Better way then above showing the date with correct format -->
    <h1><%= listTitle %></h1>
</div>
<!-- Creating list for tod list-->
<div class="box">
    <!-- This loops through array for new items and creates new list -->
    <% for (var i = 0; i < newListItems.length; i++){ %>
    <div class="item">
        <input type="checkbox">
        <p><%=newListItems[i] %></p>
    </div>
    <%} %>
    <!-- Create a form to add new item to do list -->
    <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value=<%= listTitle %>>+</button>
    </form>
</div>
<%- include("header") -%>